# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [4]:
# Your code here
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [5]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# step 1: Column names should be in lower case and # step 3 Replaces White spaces in columns names with 
df.columns.str.lower().str.replace(' ','_')

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [8]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [9]:
# step 2: replace ST for state 
df.rename(columns = {'st':'state'},inplace=True)

In [10]:
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [48]:
# Your code here
#step 1 standardized Gender column that contains inconsistent values such as "F", "M", "Femal", "Male", "female"
df['gender'].value_counts()

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [49]:
df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [50]:
dict_gender = {'Femal':'F','Male':'M','female':'F'}
df['gender'].replace(dict_gender).value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [14]:
#Step 2 State abbreviations replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [32]:
state_abbreviation = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations')[0].iloc[11:61,[0,3]]
state_abbreviation.columns = ['State','Abbr']
state_cleaning_dict = state_abbreviation.set_index('Abbr').to_dict()['State']

In [26]:
state_abbreviation

,"Codes: ISO ISO 3166 codes (2-letter, 3-letter, and 3-digit codes from ISO 3166-1; 2+2-letter codes from ISO 3166-2) ANSI 2-letter and 2-digit codes from the ANSI standard INCITS 38:2009 (supersedes FIPS 5-2) USPS 2-letter codes used by the United States Postal Service USCG 2-letter codes used by the United States Coast Guard (bold red text shows differences between ANSI and USCG) Abbreviations: GPO Older variable-length official US Government Printing Office abbreviations AP Abbreviations from the AP Stylebook (bold red text shows differences between GPO and AP)","Codes: ISO ISO 3166 codes (2-letter, 3-letter, and 3-digit codes from ISO 3166-1; 2+2-letter codes from ISO 3166-2) ANSI 2-letter and 2-digit codes from the ANSI standard INCITS 38:2009 (supersedes FIPS 5-2) USPS 2-letter codes used by the United States Postal Service USCG 2-letter codes used by the United States Coast Guard (bold red text shows differences between ANSI and USCG) Abbreviations: GPO Older variable-length official US Government Printing Office abbreviations AP Abbreviations from the AP Stylebook (bold red text shows differences between GPO and AP).3"
11,Alabama,AL
12,Alaska,AK
13,Arizona,AZ
14,Arkansas,AR
15,California,CA
16,Colorado,CO
17,Connecticut,CT
18,Delaware,DE
19,District of Columbia,DC
20,Florida,FL
21,Georgia,GA
22,Hawaii,HI
23,Idaho,ID
24,Illinois,IL
25,Indiana,IN
26,Iowa,IA
27,Kansas,KS
28,Kentucky,KY
29,Louisiana,LA
30,Maine,ME
31,Maryland,MD
32,Massachusetts,MA
33,Michigan,MI
34,Minnesota,MN
35,Mississippi,MS
36,Missouri,MO
37,Montana,MT
38,Nebraska,NE
39,Nevada,NV
40,New Hampshire,NH
41,New Jersey,NJ
42,New Mexico,NM
43,New York,NY
44,North Carolina,NC
45,North Dakota,ND
46,Ohio,OH
47,Oklahoma,OK
48,Oregon,OR
49,Pennsylvania,PA
50,Rhode Island,RI
51,South Carolina,SC
52,South Dakota,SD
53,Tennessee,TN
54,Texas,TX
55,Utah,UT
56,Vermont,VT
57,Virginia,VA
58,Washington,WA
59,West Virginia,WV
60,Wisconsin,WI

In [28]:
state_abbreviation

,"Codes: ISO ISO 3166 codes (2-letter, 3-letter, and 3-digit codes from ISO 3166-1; 2+2-letter codes from ISO 3166-2) ANSI 2-letter and 2-digit codes from the ANSI standard INCITS 38:2009 (supersedes FIPS 5-2) USPS 2-letter codes used by the United States Postal Service USCG 2-letter codes used by the United States Coast Guard (bold red text shows differences between ANSI and USCG) Abbreviations: GPO Older variable-length official US Government Printing Office abbreviations AP Abbreviations from the AP Stylebook (bold red text shows differences between GPO and AP)","Codes: ISO ISO 3166 codes (2-letter, 3-letter, and 3-digit codes from ISO 3166-1; 2+2-letter codes from ISO 3166-2) ANSI 2-letter and 2-digit codes from the ANSI standard INCITS 38:2009 (supersedes FIPS 5-2) USPS 2-letter codes used by the United States Postal Service USCG 2-letter codes used by the United States Coast Guard (bold red text shows differences between ANSI and USCG) Abbreviations: GPO Older variable-length official US Government Printing Office abbreviations AP Abbreviations from the AP Stylebook (bold red text shows differences between GPO and AP).3"
11,Alabama,AL
12,Alaska,AK
13,Arizona,AZ
14,Arkansas,AR
15,California,CA
16,Colorado,CO
17,Connecticut,CT
18,Delaware,DE
19,District of Columbia,DC
20,Florida,FL
21,Georgia,GA
22,Hawaii,HI
23,Idaho,ID
24,Illinois,IL
25,Indiana,IN
26,Iowa,IA
27,Kansas,KS
28,Kentucky,KY
29,Louisiana,LA
30,Maine,ME
31,Maryland,MD
32,Massachusetts,MA
33,Michigan,MI
34,Minnesota,MN
35,Mississippi,MS
36,Missouri,MO
37,Montana,MT
38,Nebraska,NE
39,Nevada,NV
40,New Hampshire,NH
41,New Jersey,NJ
42,New Mexico,NM
43,New York,NY
44,North Carolina,NC
45,North Dakota,ND
46,Ohio,OH
47,Oklahoma,OK
48,Oregon,OR
49,Pennsylvania,PA
50,Rhode Island,RI
51,South Carolina,SC
52,South Dakota,SD
53,Tennessee,TN
54,Texas,TX
55,Utah,UT
56,Vermont,VT
57,Virginia,VA
58,Washington,WA
59,West Virginia,WV
60,Wisconsin,WI

In [33]:
df['state'].replace(state_cleaning_dict).unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       nan], dtype=object)

In [52]:
#step 3: In education, "Bachelors" could be replaced by "Bachelor

def remove_plural(e):
    if isinstance(e,str):
        if e.endswith('s'):
            return e[:-1]
    
    return e
df['education'].apply(remove_plural).unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [19]:
# step 4: In Customer Lifetime Value, delete the % character 4: 
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%','').astype(float)

In [20]:
df['customer_lifetime_value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

In [34]:
# step 5: In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [36]:
df['vehicle_class'] = df['vehicle_class'].replace({'Luxury SUV':'Luxury','Luxury Car':'Luxury'})

## Exercise 3: Formatting data types

In [37]:
df['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [39]:
def clean_number_complaints(num):
    if isinstance(num, str):
        return int(num.split('/')[1])
    return 0
df['number_of_open_complaints'].apply(clean_number_complaints)

0       0
1       0
2       0
3       0
4       0
       ..
4003    0
4004    0
4005    0
4006    0
4007    0
Name: number_of_open_complaints, Length: 4008, dtype: int64

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Your code here

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [40]:
# step 1: Drop the rows or columns with null values
df.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [45]:
df.dropna(thresh = 5,inplace=True)

In [46]:
df[df['gender'].isna()]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
11,VQ65197,California,NaN,College,819719.71,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
...,...,...,...,...,...,...,...,...,...,...,...
134,BU44523,AZ,NaN,High School or Below,802637.96,0.0,74.0,1/0/00,Corporate Auto,Four-Door Car,532.800000
135,MS41162,AZ,NaN,High School or Below,402296.35,0.0,117.0,1/0/00,Personal Auto,SUV,975.107098
136,PU25891,Oregon,NaN,High School or Below,961831.09,80536.0,119.0,1/0/00,Special Auto,Sports Car,53.798708
138,SX26335,Oregon,NaN,College,955292.69,97732.0,79.0,1/0/00,Personal Auto,Four-Door Car,289.912200
449,LN31673,Washington,NaN,College,1131808.98,38923.0,99.0,1/2/00,Personal Auto,Four-Door Car,115.728852

In [67]:
#step 2: Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
df['gender'].fillna(df['gender'].mode()[0]).value_counts()

gender
F         574
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [75]:
df['customer_lifetime_value_%'].fillna(df['customer_lifetime_value_%'].mean())

KeyError: 'customer_lifetime_value_%'

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [71]:
# Your code here
df.duplicated().sum()

0

In [74]:
df.to_csv('clean_customers.csv',index=False)

In [73]:
pd.read_csv('clean_customers.csv')

,Unnamed: 0,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,1067,VJ51327,Cali,F,High School or Below,2031499.76,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,1070,MY31220,California,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
from cleaning_functions import clean_number_complaints_python

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here